#adventurePage-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:baseline;
    width:100%;
    height:95vh;
}

#adventures-container {
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:340vw;
    align-items: center;
    gap:5vw;
    margin-top: 3vh;
    margin-left: 7vw;
    transition: transform 0.5s ease-in-out; /* Ajustez la durée et le type d'animation selon vos préférences */
}

.adventure {
    height:70vh;
    width:80vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:3vh;
    border-radius: 10px;
}

.titre-aventure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:3vw;
    flex:1;
}

.titre-aventure h1{
    color:black;
    font-size: 2vw;
}

.titre-aventure img{
    height: 10vh;
    border-radius: 10px;
}

.titre-aventure .equilibrate {
    width:7vw;
}

.centre-aventure {
    flex:4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video-container {
    flex:2;
    display: flex;
    justify-content: center;
}

.centre-aventure .video {
    padding:1vw;
    width:64vh;
    height:38vh;
    border: solid 2px var(--secondary-color);
    border-radius: 10px;
}

.centre-aventure #podcast {
    width:50vw;
    border: solid 2px var(--secondary-color);
    border-radius: 10px;
}

#description-AT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5vh;
    flex:2;
    padding: 1vw;
}

#photos-AT img {
    width:9vw;
}

.bas-aventure {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}

#bas-AT {
    justify-content: space-between;
}

.bas-aventure span {
    font-style: italic;
}

#liens {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navPoints-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 5vh;
    gap:2vw;
}

.point {
    height:1.2vh;
    width: 1.2vh;
    background-color: white;
    border-radius: 0.6vh;
}

.point.active {
    background-color: var(--secondary-color); /* Ou toute autre couleur/style pour indiquer l'activité */
}

.adventure p {
    font-size:1vw;
    text-align: justify;
}

.img-lien {
    width:3vw;
}

#findpenguins {
    border-radius:10px;
    
}

.startups {
    width:40vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startups img {
    width:35vw;
    border: var(--secondary-color) solid 2px;
    border-radius: 10px;
}

.legende-startup p {
    width:30vw;
    text-align: center;
}

#bas-startup {
    justify-content: space-around;
}

#centre-startup {
    width:70vw;
}